body {
  padding: 0;
  margin: 0;
  background-color: #6663;
}

#reloj {
  font-family: sans-serif;
  font-size: 60px;
  text-shadow: 0px 0px 1px #333;
  color: #fff;
}

.reloj-contenedor {
  background-color: #48e;
  padding: 25px;
  max-width: 350px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10%;
  animation: cambiarColor 1s infinite alternate both;
}

#fecha {
  letter-spacing: 10px;
  font-size: 15px;
  margin: 10px 0 0 0;
}

@keyframes cambiarColor {
  0% {
    background-color: #fffffc;
  }
  30% {
    background-color: #beb7a4;
  }
  65% {
    background-color: #ff7f11;
  }
  95% {
    background-color: #ff3f00;
  }
}
